<!DOCTYPE html>
<html lang="en">
<title>Forbrugerne</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 0px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>
<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/forbrugerne">Forbrugerne</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/virksomhed">Virksomheder</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/organisation">Organisationer</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/andet">Hvis du vil vide mere</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Virksomhed & Madspild</h1>
            <p> Virksomheder har også sin del af ansvaret, når det kommer til madspild. </p>
            <p>Ifølge Miljø- og Fødevareministeriet står fødevarebranchen for to tredjedele af Danmarks totale madspild
                på 700.000 ton. Det svarer til 3,8 procent af Danmarks samlede CO2-udledning.</p>
            <p>Derfor har vi samlet nogle råd, som kan hjælpe dig og din virksomhed med af mindske madspild.</p>
        </div>
        <div class="w3-third w3-container">
            <picture>
                <img src="../reklame.png" alt="Reklame"
                     width="350"
                     height="375">
            </picture>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-twothird w3-container">
            <!--            <h1 class="w3-text-teal">Heading</h1>-->
            <!--            <p>txt2</p>-->
        </div>
        <div class="w3-third w3-container">
            <picture>
                <img src="../reklame2.jpg" alt="Reklame"
                     width="350"
                     height="375">
            </picture>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Hvad kan din virksomhed gøre for at mindske madspild?</h1>
            <ol>
                <li>INDKØBSSTYRING</li>
                <p>Der findes mange gode værktøjer til at sikre at den rigtige mængde købes ind.</p>
                <li>PORTIONSSTØRRELSER</li>
                <p>Hvis der ofte levnes mad kan portionerne gøres mindre. Brug gerne vægttabel.</p>
                <li>MINDRE TALLERKNER</li>
                <p>Hvis I har en buffet kan i nedsætte madspildet ved at gøre tallerknerne mindre.</p>
                <li>BRUG RESTERNE I NYE RETTER
                </li>
                <p> F.eks. gennem en fleksibel ”dagens ret”.</p>
                <li>
                    FRYS RESTERNE  </li>
                  <p>  Så holder de sig friske og kan bruges en anden dag.
                  </p>
                <li>TØM EMBALLAGEN HELT</li>
                <p>Få fuld gavn af de råvarer i har betalt for.</p>

                <li>OPBEVAR MADEN RIGTIGT</li>
                    Mad holder sig bedst ved korrekt opbevaring.</p>

                <li>
                    SMID IKKE BRUGBARE RÅVARER UD </li>
                <p>Rynkede eller skæve grøntsager kan sagtens bruges, f.eks. i gryderetter.</p>

                <li>DONER RESTERNE</li>
                <p>F.eks. til et folkekøkken eller herberg.</p>

                <li>FRUGT OG GRØNT</li>
                <p>Indfør køb-per-vægt på frugt og grønt.</p>

                <li>LAV STYKPRIS FREM FOR MERKØB</li>
                <p>Undgå at opfordre til merkøb, som ofte fører til overforbrug og øget madspild.</p>

                <li>STOP FRASORTERING</li>
                <p>Stop frasortering af ”uperfekte” frugter og grøntsager.</p>

                <li>FOKUS PÅ DATOVARER</li>
                <p>Sælg varer som nærmer sig udløbsdato til nedsat pris.</p>

                <li>SMART EMBALLAGE</li>
                <p>Brug emballage med genluk og tag hensyn til mindre husstande.</p>

                <li>MENUPLANLÆGNING</li>
                <p>Planlæg menuen grundigt og genanvend de gode rester dagen efter.</p>

                <li>LAGER OG KØLESKABSKONTROL</li>
                <p>Hold en lageroversigt og sørg for, at maden ikke glemmes og bliver dårlig.</p>

                <li>INVOLVÉR GÆSTER</li>
                <p>Involvér gæster og kunder i projektet – vis at I gør en forskel.</p>

                <li>INVOLVÉR MEDARBEJDERNE</li>
                <p>Giv dem god oplæring og motiver dem til at yde en indsats.</p>

                <li>GENANVEND KAFFEGRUMS</li>
                <p>Mange glemmer at sortere og genanvende kaffegrums og tebreve. Sørg for at dette "skjulte" organiske
                    affald også bloiver genanvendt.</p>

            </ol>
        </div>

        <div class="w3-third w3-container">
            <p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
            <p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
        </div>
    </div>
</div>

<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>

</body>
</html>
