<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<title>Forbrugerne</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 0px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()"
       class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/">Startside</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/forbrugerne">Forbrugerne</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/virksomhed">Virksomheder</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/organisation">Organisationer</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/andet">Hvis du vil vide mere</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Forbrugere & Madspild</h1>
            <p>Samlet smider vi i Danmark hvert år over 700.000 ton mad ud, som kunne være spist. Husholdningernes
                madspild udgør 260.000 ton pr. år. I servicesektoren er der et årligt madspild på 227.000 ton, heraf
                163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter og 31.000 ton fra institutioner
                og storkøkkener om året. Madspild fra primærproduktionen udgør 100.000 ton pr. år, mens
                fødevareindustrien står for et årligt madspild på 133.000 ton. </p>
        </div>
        <div class="w3-third w3-container">
            <picture>
                <img src="../reklame.png" alt="Reklame"
                     width="350"
                     height="375">
            </picture>
        </div>
        </div>
    </div>

    <div class="w3-main" style="margin-left:250px">
    <div class="w3-row">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Hvad kan du gøre for at mindske madspild?</h1>
            <p>
                Smider du mad ud, der kunne være blevet spist? </p>
            <p> Madspild koster danske familier tusindvis af kroner om
                året. Madspild belaster også klimaet og miljøet. Det koster nemlig ressourcer og CO2 at producere mad.
                Og de
                ressourcer er spildt, hvis maden bliver smidt ud.</p>
            <b>Her er der nogle gode råde til hvordan du mindsker madspild!</b>
            <ol>
                <li>Lav en madplan</li>
                <p> Planlægning er essentielt, når du skal lave en god madplan, der holder.</p>
                <ul>
                    <li>
                        Inddrag familien. Snak med dem om, hvad de har lyst til at spise, og hvad der skal ske i ugens
                        løb, så I kan planlægge ud fra alles ønsker og aktiviteter.
                    </li>
                    <li>
                        Vælg en fleksibel løsning. Lange ugeplaner ryger tit i vasken, fordi familiens planer ændrer
                        sig. Lav i stedet korte 2-dages moduler, som kan byttes rundt. En madplan i moduler er en
                        fleksibel løsning.
                    </li>
                    <li>
                        Gør plads til improvisation – put for eksempel en dag ind til det hver uge.
                    </li>
                </ul>
                <li>Skriv en indkøbsliste</li>
                <p>
                    Handler du uden at vide, præcis hvad du går efter, kan du let lave fejlkøb.

                    Indkøbslisten er dit bedste redskab i kampen mod madspild - lav den altid, inden du går hjemmefra
                    (og hold dig til listen).</p>
                <li>Tjek skabe, skuffer, fryser og køleskab</li>
                <p>
                    Har du et lager af pasta, hvedemel, ris og bønner? Du glemmer let, hvad du har i skabet – og så
                    ender du måske med at købe nyt, selv om du havde en rest i skabet.

                    Tjek skuffer og skabe derhjemme, inden du går ud og handler. Så køber du ikke mad, du allerede
                    har.</p>
                <li>Spis, før du shopper</li>
                <p> Sult kan let friste dig til at købe mad impulsivt. Og derfor kan du være mere tilbøjelig til både at
                    købe for meget mad og usunde varer, når du køber ind. </p>
                <li>Tag en mindre kurv, når du handler</li>
                <p>Indkøbskurvens størrelse betyder noget for mængden af varer, du køber. En lille kurv husker dig på,
                    at du ikke skal købe mere, end du kan bære.

                </p>
                <li>Pas på gode tilbud og mængderabatter</li>
                <p> Tilbud kan være fristende, især hvis du sparer mange penge. Men hvis du køber 3 for 2’s pris og
                    alligevel kun får brugt 1, smider du både mad og penge ud af vinduet.</p>
                <li>Overvej, om du har brug for den store portion</li>
                <p>
                    Portionsstørrelser kan også bidrage til madspild. Nogle gange får du mest for pengene, hvis du køber
                    store poser eller pakker.

                    Vælg dog altid den portion, der passer til dit behov. Spørg dig selv: Får du virkelig spist det
                    største hvidkålshoved eller det store rugbrød?</p>
                <li>Opbevar din mad rigtigt</li>
                <p>
                    Opbevarer du dine råvarer rigtigt, når du har købt dem, kan du få dem til at holde længere og undgå
                    at smide maden ud.

                    Brug altid dine sanser, når du skal vurdere, om du kan spise maden.</p>
                <li>Få styr på holdbarhedsmærkningerne</li>
                <p>Holdbarheden af din mad kan du tjekke på datomærkningen. Datoen viser, hvor længe færdigpakket mad
                    kan holde sig, når du ikke har åbnet pakken.

                    Mad kan have 2 forskellige datomærker:</p>
                <ul>
                    <li>"Sidste anvendelsesdato"</li>
                    <li>"Bedst før" og "Bedst før – ofte god efter"</li>
                </ul>
                <p>Har du ikke styr på, hvad de 2 mærker står for, kan du komme til at smide mad i skraldespanden, som
                    du sagtens kan spise.</p>
                <li>Pak dit køleskabet smart</li>
                <p> Stil de ældste varer forrest i køle- og køkkenskabe, så du husker at bruge dem først, eller lav en
                    skal-spises-snart-hylde i køleskabet. Sæt et klistermærke eller lignende på hylden, og opbevar den
                    mad, der skal spises snart her.</p>
                <li>Brug alternative ingredienser i opskrifter</li>
                <p>
                    Opskrifter behøver du ikke at følge slavisk. Hvis du køber en særlig ingrediens til en ret og ikke
                    får brugt resten, er det mad direkte i skraldespanden.

                    Ingredienser i en opskrift kan du sagtens erstatte med noget andet, som du måske har i køleskabet -
                    brug for eksempel revet citronskal i stedet for citrongræs, brug yoghurt i stedet for creme fraiche
                    og så videre.</p>
                <li>Undgå at lave og spise for meget mad</li>
                <p>Lav kun den nødvendige mængde mad. En person spiser cirka 75-100 gram ris eller 3 kartofler (200-300
                    gram), 100 gram kød og 150-200 gram grøntsager til et måltid.</p>
            </ol>

        </div>


<div class="w3-main" style="margin-left:250px">
        <div class="w3-third w3-container">
            <picture>
                <img src="../reklame2.jpg" alt="Reklame"
                     width="350"
                     height="375">
            </picture>
        </div>
</div>
    </div>
    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Madplan</h1>
            <p>
                Mandag:
                <select id="mad">
                    <optgroup label="Mad forslag">
                        <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                        <option value="Lagsagne">Lagsagne</option>
                        <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                        <option value="Burrito">Burrito</option>
                        <option value="Tacos">Tacos</option>
                        <option value="Flæskesteg">Flæskesteg</option>
                        <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                        <option value="Cordon Bleu">Cordon Bleu</option>
                    </optgroup>
                </select>
            </p>
            Tirsdag:
            <select id="mad2">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            Onsdag:
            <select id="mad3">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            Torsdag:
            <select id="mad4">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            Fredag:
            <select id="mad5">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            Lørdag:
            <select id="mad6">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            Søndag:
            <select id="mad7">
                <optgroup label="Mad forslag">
                    <option value="Spaghetti med Kødsovs">Spaghetti med Kødsovs</option>
                    <option value="Lagsagne">Lagsagne</option>
                    <option value="Laks med porrer og spidskål">Laks med porrer og spidskål</option>
                    <option value="Burrito">Burrito</option>
                    <option value="Tacos">Tacos</option>
                    <option value="Flæskesteg">Flæskesteg</option>
                    <option value="Flæskestegssandwich">Flæskestegssandwich</option>
                    <option value="Cordon Bleu">Cordon Bleu</option>
                </optgroup>
            </select>
            </p>
            <p>
                Her er din madplan:
                <span class="output"></span>
                <span class="output2"></span>
                <span class="output3"></span>
                <span class="output4"></span>
                <span class="output5"></span>
                <span class="output6"></span>
                <span class="output7"></span>
            </p>

            <button onclick="getOption()">
                Se din madplan
            </button>
            </br>
            </br>

        </div>
    </div>

            <script type="text/javascript">s

            function getOption() {
                selectElement = document.querySelector('#mad');
                output =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad2');
                output2 =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad3');
                output3 =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad4');
                output4 =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad5');
                output5 =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad6');
                output6 =
                    selectElement.options[selectElement.selectedIndex].value;

                selectElement = document.querySelector('#mad7');
                output7 =
                    selectElement.options[selectElement.selectedIndex].value;

                document.querySelector('.output').textContent = output;
                document.querySelector('.output2').textContent = output2;
                document.querySelector('.output3').textContent = output3;
                document.querySelector('.output4').textContent = output4;
                document.querySelector('.output5').textContent = output5;
                document.querySelector('.output6').textContent = output6;
                document.querySelector('.output7').textContent = output7;

            }
            </script>


    <footer>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
                * {
                    box-sizing: border-box;
                }

                /* Create three equal columns that floats next to each other */
                .column {
                    float: left;
                    width: 33.33%;
                    padding: 10px;
                    height: 200px; /* Should be removed. Only for demonstration */
                }

                /* Clear floats after the columns */
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            </style>
        </head>


        <div class="row">
            <div class="column" style="background-color:#aaa;">
                <h2>Adresse</h2>
                <p>Eksempelvej 123</br>
                    2610 Rødovre</p>
            </div>

            <div class="column" style="background-color:#aaa;">
                <h2>Kontakt</h2>
                <p>Kontakt os på mail:</br>
                    <a href = "mailto:eksempel@mail.dk">eksempel@mail.dk</a>
                </p>
            </div>

            <div class="column" style="background-color:#aaa;">
                <h2>Sociale medier</h2>
                <p>Følg os på disse medier:</br>
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a></br>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a></br>
                    <a href="https://github.com/Dubz97/MadSpild" class="fa fa-github"></a>

                </p>
            </div>

        </div>
    </footer>


            <!-- END MAIN -->
        </div>

        <script>
            // Get the Sidebar
            var mySidebar = document.getElementById("mySidebar");

            // Get the DIV with overlay effect
            var overlayBg = document.getElementById("myOverlay");

            // Toggle between showing and hiding the sidebar, and add overlay effect
            function w3_open() {
                if (mySidebar.style.display === 'block') {
                    mySidebar.style.display = 'none';
                    overlayBg.style.display = "none";
                } else {
                    mySidebar.style.display = 'block';
                    overlayBg.style.display = "block";
                }
            }

            // Close the sidebar with the close button
            function w3_close() {
                mySidebar.style.display = "none";
                overlayBg.style.display = "none";
            }
        </script>
    </div>
</div>
</body>

</html>